.mat-snack-bar-container {
  &.error {
    background-color: $Red;

    .mat-simple-snackbar {
      color: $White;
      font-weight: 500;

      .mat-simple-snackbar-action {
        color: $Pastel;
      }
    }
  }
  &.success {
    background-color: $Green;

    .mat-simple-snackbar {
      color: $White;
      font-weight: 500;

      .mat-simple-snackbar-action {
        color: $Pastel;
      }
    }
  }
}
