<div *ngIf="showPropertyHeaderDetail" class="block-1 d-flex flex-column">
  <span class="text-1">{{ price }}</span>
  <span class="text-2">{{ location }}</span>
  <span class="text-3">{{ description }}</span>
</div>

<div class="d-flex flex-column relative">
  <img
    *ngIf="selectedPhoto"
    class="img-1"
    [src]="selectedPhoto.url"
    alt="house"
    (load)="onLoad()"
    (onError)="onLoad()"
  />
  <div *ngIf="loading" class="loading">
    <mat-spinner [diameter]="50" style="margin: 0 auto"></mat-spinner>
  </div>

  <swiper
    [slidesPerView]="'auto'"
    [spaceBetween]="8"
    [freeMode]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let item of photos"
      ><img
        (click)="selectImage(item)"
        class="img-2"
        [src]="item.url"
        alt="house"
    /></ng-template>
  </swiper>
</div>
