@import "../../../styles/includes";

:host {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  &.isNotEdit {
    .value-field {
      margin-top: 12px;

      &.total-field {
        margin-top: 40px;
      }
    }
  }
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.container-bar {
  height: 30px;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;

  .value {
    height: 100%;
    &.value-1 {
      background-color: $PodOrange;
    }

    &.value-2 {
      background-color: $PodTeal;
    }

    &.value-3 {
      background-color: $PodPink;
    }

    &.value-4 {
      background-color: $PodBlueLight02;
    }

    &.value-5 {
      background-color: $PodYellow;
    }
  }
}

app-input-field {
  width: 180px;
}

.value-field {
  padding-left: 28px;
  margin-top: 8px;

  .label {
    font-size: 14px;
    line-height: 16px;
  }

  .value {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -28px;
      top: 0;
      width: 16px;
      height: 16px;
      border-radius: 4px;
    }

    &.value-1 {
      &::before {
        background-color: $PodOrange;
      }
    }

    &.value-2 {
      &::before {
        background-color: $PodTeal;
      }
    }

    &.value-3 {
      &::before {
        background-color: $PodPink;
      }
    }

    &.value-4 {
      &::before {
        background-color: $PodBlueLight02;
      }
    }

    &.value-5 {
      &::before {
        background-color: $PodYellow;
      }
    }
  }
}

.text-1 {
  font-size: 14px;
  line-height: 16px;
}
