<mat-form-field
  floatLabel="always"
  appearance="outline"
  [ngClass]="{ showMinusAddBtn: showMinusAddBtn, noLabel: noLabel }"
>
  <mat-label>{{ label }}</mat-label>
  <input
    *ngIf="!errorStateMatcher"
    matInput
    [placeholder]="placeholder"
    [type]="type"
    [class]="{ isCCVField: isCCVField }"
    (blur)="blur.emit()"
    (keyup.enter)="enter.emit()"
    [formControl]="formControl"
    [readonly]="disabled"
  />
  <input
    *ngIf="errorStateMatcher"
    matInput
    [placeholder]="placeholder"
    [type]="type"
    [class]="{ isCCVField: isCCVField }"
    (blur)="blur.emit()"
    (keyup.enter)="enter.emit()"
    [formControl]="formControl"
    [readonly]="disabled"
    [errorStateMatcher]="errorStateMatcher"
    autocomplete="off"
  />

  <img *ngIf="prefixImage" matPrefix [src]="prefixImage" alt="prefix" />
  <img *ngIf="subfixImage" matSuffix [src]="subfixImage" alt="suffix" />

  <app-button
    (click)="type = type === 'text' ? 'password' : 'text'"
    *ngIf="isPasswordField && !isCCVField"
    matSuffix
    type="icon"
    color="primary"
  >
  </app-button>

  <mat-error *ngIf="errorMessage">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>
