@import "../../../../../styles/includes";

:host {
  display: flex;
  box-sizing: border-box;
  padding-top: 66px;
  align-items: flex-start;
  padding-bottom: 72px;

  @include media-breakpoint-tablet-down {
    flex-direction: column;
  }

  @include media-breakpoint-mobile-down {
    padding-top: 38px;
  }
}

app-step-review-form {
  flex: 1;
  width: 0;

  ::ng-deep {
    .step-review-form-block-1 {
      @include media-breakpoint-tablet-down {
        display: none;
      }
    }
  }

  @include media-breakpoint-tablet-down {
    flex: revert;
    width: 100%;
    margin-top: 32px;
  }
  @include media-breakpoint-mobile-down {
    margin-top: 22px;
  }
}

.text-1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

app-summary-top {
  margin-top: 17px;
}
app-summary-right {
  margin-top: 57px;
  margin-left: 50px;

  @include media-breakpoint-mobile-down {
    margin-left: 0;
    margin-top: 24px;
  }
}
