.color-Pastel {
  color: #fffe71;
}

:root {
  --LightGrey: #f6f6f6;
  --LightestGrey: #fafafa;
  --RedLight02: #f3b1b1;
  --Red: #ff5e57;
  --Blue: #019eeb;
  --Green: #28c840;
  --White: #ffffff;
  --Teal: #00b3b0;
  --TealDark: #186363;
  --TealLight02: #a5d8d9;
  --TealLight03: #6dc8c9;
  --Pastel: #fffe71;
  --PodBlue: #03a9f4;
}

:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 87px 51px 0 120px;
  min-height: 100%;
}
:host ::ng-deep :root {
  --ColorPrimary: #03a9f4;
}
@media (max-width: 991px) {
  :host {
    padding: 87px 40px 0 40px;
  }
}
@media (max-width: 575px) {
  :host {
    padding: 87px 18px 0 17px;
  }
}

.block-1 {
  position: fixed;
  height: 87px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e1f4fc;
  padding-left: 39px;
  z-index: 1;
}
.block-1 .btn-home {
  margin-right: 24px;
}
@media (max-width: 575px) {
  .block-1 {
    height: 84px;
    padding-left: 15px;
  }
}
.block-1 app-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 6px;
}
@media (max-width: 575px) {
  .block-1 app-button {
    margin-bottom: 0;
  }
}

.block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #03a9f4;
  border-radius: 0 0 16px 16px;
  width: 148px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 62px;
}
@media (max-width: 575px) {
  .block-2 {
    width: 80px;
    height: 104px;
    border-radius: 0 0 8px 8px;
    margin-right: 22px;
  }
  .block-2 img {
    width: 54px;
    height: 36px;
  }
}

app-bottom-links {
  margin: auto auto 13px 0;
}
@media (max-width: 575px) {
  app-bottom-links {
    margin: auto auto 13px auto;
  }
}