.color-Pastel {
  color: #fffe71;
}

:root {
  --LightGrey: #f6f6f6;
  --LightestGrey: #fafafa;
  --RedLight02: #f3b1b1;
  --Red: #ff5e57;
  --Blue: #019eeb;
  --Green: #28c840;
  --White: #ffffff;
  --Teal: #00b3b0;
  --TealDark: #186363;
  --TealLight02: #a5d8d9;
  --TealLight03: #6dc8c9;
  --Pastel: #fffe71;
  --PodBlue: #03a9f4;
}

:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
:host.isDiabled {
  pointer-events: none;
}
:host.isDiabled img {
  opacity: 0.3;
}
:host.hide-desktop {
  display: none;
}
@media (max-width: 991px) {
  :host.hide-tablet {
    display: none;
  }
  :host.show-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 575px) {
  :host.hide-mobile {
    display: none;
  }
  :host.show-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
:host.theme-my-canary .container.size-small:not(.doNotUpdateImageSize) .icon-left-hover,
:host.theme-my-canary .container.size-small:not(.doNotUpdateImageSize) .icon-left,
:host.theme-my-canary .container.size-small:not(.doNotUpdateImageSize) .icon-right-hover,
:host.theme-my-canary .container.size-small:not(.doNotUpdateImageSize) .icon-right {
  width: 18px;
  height: 18px;
}
:host.theme-my-canary .secondary-container,
:host.theme-my-canary .primary-container {
  padding: 0 21px;
  border-radius: 0;
  border: none;
  clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 25% 100%, 0 100%, 0 8px);
}
:host.theme-my-canary .secondary-container ::ng-deep .mat-button-wrapper,
:host.theme-my-canary .primary-container ::ng-deep .mat-button-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
:host.theme-my-canary .secondary-container.size-normal,
:host.theme-my-canary .primary-container.size-normal {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
}
:host.theme-my-canary .secondary-container.size-normal ::ng-deep .mat-button-wrapper,
:host.theme-my-canary .primary-container.size-normal ::ng-deep .mat-button-wrapper {
  font-size: 16px;
  line-height: 48px;
  font-weight: bold;
}
:host.theme-my-canary .secondary-container.size-small,
:host.theme-my-canary .primary-container.size-small {
  height: 36px;
  padding-left: 18px;
  padding-right: 18px;
}
:host.theme-my-canary .secondary-container.size-small ::ng-deep .mat-button-wrapper,
:host.theme-my-canary .primary-container.size-small ::ng-deep .mat-button-wrapper {
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
}
:host.theme-my-canary .secondary-container.size-large,
:host.theme-my-canary .primary-container.size-large {
  height: 56px;
  padding-left: 27px;
  padding-right: 27px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 25% 100%, 0 100%, 0 16px);
}
:host.theme-my-canary .secondary-container.size-large ::ng-deep .mat-button-wrapper,
:host.theme-my-canary .primary-container.size-large ::ng-deep .mat-button-wrapper {
  font-size: 18px;
  line-height: 56px;
  font-weight: bold;
}
:host.theme-my-canary .primary-container {
  background-color: #00b3b0;
}
:host.theme-my-canary .primary-container.color-warn {
  background-color: #ff5e57;
}
:host.theme-my-canary .primary-container:hover:not(.shouldIgnoreHover) {
  background-color: #fffe71;
  color: #00b3b0;
}
:host.theme-my-canary .primary-container:hover:not(.shouldIgnoreHover).color-warn {
  background-color: #cc4b45;
  color: #ffffff;
}
:host.theme-my-canary .primary-container.mat-button-disabled::ng-deep {
  background-color: #e8f7f7;
  color: #a5d8d9;
}
:host.theme-my-canary .secondary-container {
  background-color: #00b3b0;
  color: #00b3b0;
  position: relative;
}
:host.theme-my-canary .secondary-container.color-warn {
  background-color: #ff5e57;
  color: #ff5e57;
}
:host.theme-my-canary .secondary-container:hover:not(.shouldIgnoreHover).color-warn {
  color: #ffffff;
}
:host.theme-my-canary .secondary-container:hover:not(.shouldIgnoreHover).color-warn:after {
  background: #ff5e57;
}
:host.theme-my-canary .secondary-container:hover:not(.shouldIgnoreHover):after {
  background: #fffe71;
}
:host.theme-my-canary .secondary-container.size-large:after {
  clip-path: polygon(15.5px 0, 100% 0, 100% calc(100% - 15.5px), calc(100% - 15.5px) 100%, 25% 100%, 0 100%, 0 15.5px);
}
:host.theme-my-canary .secondary-container:after {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  clip-path: polygon(7.5px 0, 100% 0, 100% calc(100% - 7.5px), calc(100% - 7.5px) 100%, 25% 100%, 0 100%, 0 7.5px);
}
:host.theme-my-canary .basic-container {
  border-radius: 0;
  clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 25% 100%, 0 100%, 0 8px);
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:host.theme-my-canary .basic-container ::ng-deep .mat-button-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
:host.theme-my-canary .basic-container.size-small {
  height: 36px;
}
:host.theme-my-canary .basic-container.size-small ::ng-deep .mat-button-wrapper {
  font-size: 14px;
  letter-spacing: 0.32px;
  font-weight: bold;
  line-height: 36px;
}
:host.theme-my-canary .basic-container.size-very-small {
  height: 36px;
}
:host.theme-my-canary .basic-container.size-very-small ::ng-deep .mat-button-wrapper {
  font-size: 12px;
  font-weight: bold;
  line-height: 36px;
}
:host.theme-my-canary .basic-container.size-very-large {
  height: 80px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 25% 100%, 0 100%, 0 16px);
  padding-left: 60px;
  padding-right: 60px;
}
:host.theme-my-canary .basic-container.size-very-large ::ng-deep .mat-button-wrapper {
  font-size: 36px;
  font-weight: 500;
  line-height: 80px;
}
@media (max-width: 575px) {
  :host.theme-my-canary .basic-container.size-very-large ::ng-deep .mat-button-wrapper {
    font-size: 32px;
    line-height: 56px;
  }
}
@media (max-width: 991px) {
  :host.theme-my-canary .basic-container.size-very-large {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 575px) {
  :host.theme-my-canary .basic-container.size-very-large {
    height: 56px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
:host.theme-my-canary .basic-container:hover:not(.shouldIgnoreHover) {
  background-color: #00b3b0;
  color: #ffffff;
}
:host.theme-my-canary .outline-container {
  border-color: #ebebeb;
  border-radius: 0;
  background-color: #fafafa;
}
:host.theme-my-canary .outline-container.size-small {
  height: 36px;
}
:host.theme-my-canary .outline-container.size-small ::ng-deep .mat-button-wrapper {
  font-size: 14px;
  letter-spacing: 0.32px;
  font-weight: 500;
  line-height: 36px;
}
:host .mat-button-base.secondary-container, :host .mat-button-base.primary-container, :host .mat-button-base.basic-container {
  border-radius: 8px;
}
:host .mat-button-base.secondary-container.size-large, :host .mat-button-base.primary-container.size-large, :host .mat-button-base.basic-container.size-large {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
}
:host .mat-button-base.secondary-container.size-large ::ng-deep .mat-button-wrapper, :host .mat-button-base.primary-container.size-large ::ng-deep .mat-button-wrapper, :host .mat-button-base.basic-container.size-large ::ng-deep .mat-button-wrapper {
  font-size: 16px;
  font-weight: bold;
}
:host .mat-button-base.secondary-container.size-normal, :host .mat-button-base.primary-container.size-normal, :host .mat-button-base.basic-container.size-normal {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
}
:host .mat-button-base.secondary-container.size-normal ::ng-deep .mat-button-wrapper, :host .mat-button-base.primary-container.size-normal ::ng-deep .mat-button-wrapper, :host .mat-button-base.basic-container.size-normal ::ng-deep .mat-button-wrapper {
  font-size: 14px;
  font-weight: bold;
}
:host .mat-button-base.secondary-container.size-small ::ng-deep .mat-button-wrapper, :host .mat-button-base.primary-container.size-small ::ng-deep .mat-button-wrapper, :host .mat-button-base.basic-container.size-small ::ng-deep .mat-button-wrapper {
  font-size: 12px;
}
:host .mat-button-base.secondary-container.size-very-small, :host .mat-button-base.primary-container.size-very-small, :host .mat-button-base.basic-container.size-very-small {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
:host .mat-button-base.secondary-container.size-very-small ::ng-deep .mat-button-wrapper, :host .mat-button-base.primary-container.size-very-small ::ng-deep .mat-button-wrapper, :host .mat-button-base.basic-container.size-very-small ::ng-deep .mat-button-wrapper {
  font-size: 10px;
  line-height: 32px;
}
:host .mat-button-base.secondary-container.color-primary {
  border-color: #03a9f4;
}

.ball {
  display: none;
  margin-left: 25px;
  width: 36px;
}
@media (max-width: 991px) {
  .ball {
    width: 24px;
  }
}

.container {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
.container ::ng-deep {
  border-color: #03a9f4 !important;
  border-radius: 8px;
}
.container ::ng-deep .mdc-button__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}
.container ::ng-deep .mat-button-wrapper {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container:hover ~ .ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .icon-main-hover {
  display: none;
}
.container:not(.noContent) .icon-left-hover,
.container:not(.noContent) .icon-left {
  margin-right: 20px;
}
.container:not(.noContent) .icon-right-hover,
.container:not(.noContent) .icon-right {
  margin-left: 20px;
}
.container.size-normal .icon-left-hover,
.container.size-normal .icon-left,
.container.size-normal .icon-right-hover,
.container.size-normal .icon-right {
  width: 24px;
  height: 24px;
}
.container.size-very-small .icon-left-hover,
.container.size-very-small .icon-left, .container.size-small .icon-left-hover,
.container.size-small .icon-left {
  margin-right: 10px;
}
.container.size-very-small .icon-right-hover,
.container.size-very-small .icon-right, .container.size-small .icon-right-hover,
.container.size-small .icon-right {
  margin-left: 10px;
}
.container:hover:not(.shouldIgnoreHover) .icon-main {
  display: none;
}
.container:hover:not(.shouldIgnoreHover) .icon-main-hover {
  display: inline-block;
}