@import "../../../styles/includes";

:host {
  display: flex;
}

.text-1 {
  a {
    color: $PodBlue;
    text-decoration: none;
    font-weight: 700;
  }

  @include media-breakpoint-mobile-down {
    max-width: 255px;
    line-height: 24px;
  }
}
