:host {
  display: flex;
  box-sizing: border-box;
  padding-top: 33px;
  padding-bottom: 0;
  overflow: auto;
}

.bg {
  height: 10px;
  background-color: #f5f5f5;
  flex-shrink: 0;
  width: 100px;
  margin-top: 27px;
}

app-review-recent-ticker {
  margin-right: 50px;
  position: relative;

  ::ng-deep {
    .value {
      background-color: var(--PodBlue);
    }
  }

  &:last-child {
    ::ng-deep {
      .value {
        background-color: #f5f5f5;
      }
    }
  }
}
